<div class="pagestrip">
  <h2 class="user-title">the Admin panel</h2>

  <div class=" intro-box orders-list" id="all-orders">
    <h2>All Orders</h2>
    <ul>
    <% @orders.each do |order| %>
        <% order.drinks.each do |drink| %>
          <li>
            <%=  render partial: 'shared/drink_listing', locals: {drink: drink, order: order} %>
            <p>Placed By: <%= order.user.name %></p>

            <% if order.accept != true && order.accept != false %>
              <div>
                <%= form_tag({:controller=>"orders", :action=>"allow"}, method: :patch) do %>
                  <%= hidden_field_tag 'order_id', order.id %>
                  <%= radio_button_tag(:accept, "true") %>
                  <%= label_tag(:accept, "Accept") %>
                  <%= radio_button_tag(:accept, "false") %>
                  <%= label_tag(:accept, "Deny") %>
                  <br>
                  <%= label_tag(:comment, "Comments: ") %>
                  <%= text_area(:comment, :text) %>
                  <br>
                  <%= submit_tag "Submit", class: "btn btn-outline-light btn-sm" %>
                <% end %>

              </div>
            <% else %>
              <div>
                <%= link_to "edit", edit_order_path(order), method: :get %>
                <%= link_to "delete", deleteorder_path(order), method: :delete %>
                <% if order.order_status != "complete" &&  order.order_status != "cancelled"%>
                  <%= link_to "complete", complete_path(order), method: :patch %>
                <% elsif order.order_status != "cancelled" %>
                  <%= link_to "cancel", cancel_path(order), method: :patch %>
                <% end %>
              </div>
            <% end %>
          </li>
        <% end %>
      <% end %>

    </ul>
  </div>
</div>
