
  <% if drink.drink_type != 'orange_juice' %>
    <h4> <%= drink.drink_type.capitalize %></h4>
  <% else%>
    <h4>Orange Juice</h4>
  <% end %>

  <% if drink.drink_type == "coffee" %>
    <p>Type: <%= drink.coffee_type %>. <br> Sugar: <%= drink.sugar_level %>. Milk: <%= drink.milk_level %>.</p>
  <% elsif   drink.drink_type == "tea" %>
  <p> Sugar: <%= drink.sugar_level %>. Milk: <%= drink.milk_level %>.</p>
  <% end %>

  <p>Order Status: <%= order.order_status %></p>

  <% if order.accept == true %>
    <p>Order Accepted</p>
    <p>order.comment</p>
  <% elsif order.accept == false  %>
    <p>Order Denied</p>
    <p>Comments: <%= order.comment %></p>
  <% else %>
    <p>Order not processed yet</p>
  <% end %>
